<table id="table_employee" style="width:50%">
<tr>
  <th>Ime in priimek</th>
  <th>Tel. številka</th>
<tr>
  <% @employees.each do |employee| %>
      <td><h3><%= employee.name %></h3></td>
      <td><h3><%= employee.number %></h3></td>
      <td><%= link_to 'Briši', employee_path(employee),
              method: :delete,
              data: { confirm: 'Si prepričan?' } %></td>
    </td>
    </tr>
  <% end %>
</table>
