table#table_employees th {
    background-color: rgb(238,238,238);
    color: black;
}

table#table_employees th:nth-child(-n+2) {
  /*background-color: white; */
  border: 0;
  width: 40px;
}

table#table_employees td {
    font-size: 20px;
}


input#employee_name {
  width: auto;
  }


input#employee_number {
  width: auto;
}


input#employee_mobile_number {
  width: auto;
}


input#employee_email {
  width: auto;
}
input[type=submit] {
  width: auto;
}

input#query {
  width: auto;
}
