table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}
table#m tr:nth-child(even) {
    background-color: #eee;
}
table#m tr:nth-child(odd) {
   background-color:#fff;
}
table#m th {
    background-color: black;
    color: white;
}
